---
---

@import "minima";

body {
  background-color: #faf6ef;
  font-family: 'Merriweather', Georgia, serif;
}

.site-header,
.site-footer {
  background-color: #faf6ef;
}

h1, h2, h3, h4, h5, h6,
.site-title {
  font-family: 'Merriweather', Georgia, serif;
}
